.w-10 {
  width: 70px;
}

.h-10 {
  height: 70px;
}

.achievement-item {
  width : 200px;
  height: 150px;
  margin: 10px;
}

.achievement-img {
  display: none;
}

@media screen and (min-width: 920px) {
  .intro {
    width: 30%;
  }

  .achievement {
    width: 100%;
  }

  .achievement>ul {
    justify-content: space-between;
  }

  .achievement-item {
    width : 190px;
    margin: 10px;
  }


}

@media screen and (min-width: 1444px) {

  .achievement {
    width: 40%;
  }

  .achievement>ul {
    justify-content: space-between;
  }

  .achievement-item {
    width : 190px;
    margin: 10px;
  }

  .achievement-img {
    display: block;
    width  : 45%;

  }
}