/* General styles that apply to all pages */
@import url(./reset.css);
@import url(./pages.css);
@import url(./font.css);
@import url(./border.css);
@import url(./background.css);
@import url(./space.css);
@import url(./input.css);

:root {
  /* set the variable color */
  /* using=> color: var(--primary-color) */
  --primary-color  : #0015a1;
  --warning-color: #ffe630;
  --secondary-color: #8f8f8f;
}

body {
  font-family: Arial, sans-serif;
  margin     : 0;
  padding    : 0;
}
/* 
header,
footer {
  background-color: #333;
  color           : white;
  text-align      : center;
  padding         : 1em 0;
} */

.breadcrumb {
  list-style: none;
}